{% extends "templates/web.html" %}

{% block title %} {{ _("Shopping Cart") }} {% endblock %}

{% block header %}<h3 class="shopping-cart-header mt-2 mb-6">{{ _("Shopping Cart") }}</h1>{% endblock %}

{% block script %}
<script type="text/javascript">
	frappe.boot = JSON.parse({{boot}})
	frappe.sys_defaults = frappe.boot.sysdefaults
</script>
{% endblock %}

{% block header_actions %}
{% endblock %}

{% block page_content %}

{% from "templates/includes/macros.html" import item_name_and_description %}

{% if doc.items %}
<div class="cart-container">
	<div class="row">
		<!-- Left section -->
		<div class="col-md-8">
			<div class="frappe-card p-5 mb-4">
				<div id="cart-error" class="alert alert-danger" style="display: none;"></div>
				<div class="cart-items-header">
					{{ _('Items') }}
				</div>
				<table class="table mt-3 cart-table">
					<thead>
						<tr>
							<th class="item-column">{{ _('Item') }}</th>
							<th width="20%">{{ _('Quantity') }}</th>
							{% if cart_settings.enable_checkout or cart_settings.show_price_in_quotation %}
								<th width="20" class="text-right column-sm-view">{{ _('Subtotal') }}</th>
							{% endif %}
							<th width="10%" class="column-sm-view"></th>
						</tr>
					</thead>
					<tbody class="cart-items">
						{% include "webshop/templates/includes/cart/cart_items.html" %}
					</tbody>

					{% if cart_settings.enable_checkout or cart_settings.show_price_in_quotation %}
					<tfoot class="cart-tax-items">
						{% include "webshop/templates/includes/cart/cart_items_total.html" %}
					</tfoot>
					{% endif %}
				</table>
			</div>
			<div class="row">
			{% set show_coupon_code = cart_settings.show_apply_coupon_code_in_website %}
			{% if show_coupon_code == 1%}

				<input type="text" class="txtcoupon form-control col-md-6" placeholder="Enter Coupon Code" name="txtcouponcode"  ></input>
				<button class="btn btn-primary btn-sm  bt-coupon col-md-6">{{ _("Apply Coupon Code") }}</button>
				<input type="hidden" class="txtreferral_sales_partner" placeholder="Enter Sales Partner" name="txtreferral_sales_partner" type="text"></input>
			{% endif %}
			</div>
		</div>
		<div class="col-md-4 frappe-card">
			{% if doc.items %}
			{% if cart_settings.choose_delivery_date %}
				{% include "templates/includes/cart/cart_delivery_date.html" %}
			<hr>
			{% endif %}

			{% set choose_shipping_rule = cart_settings.choose_shipping_rule %}
			{% if choose_shipping_rule == True %}
			<div class="cart-shipping-rule mt-5">
			{% include "templates/includes/cart/cart_shipping_rule.html" %}
			<hr>
			{% endif %}

			<div class="cart-addresses mt-5">
			{% include "templates/includes/cart/cart_address.html" %}
			</div>
			{% endif %}
		</div>
	</div>
			<div class="col-12">
				<div class="action-container row">
					<div class="col-4 past-order-container">
						{% if cart_settings.enable_checkout %}
						<a class="btn btn-outline-primary" href="/orders">
							{{ _('See past orders') }}
						</a>
						{% else %}
						<a class="btn btn-outline-primary" href="/quotations">
							{{ _('See past quotations') }}
						</a>
						{% endif %}
					</div>
					{% if doc.items %}
					<div class="continue-shopping-container col-4">
						<a class="btn btn-outline-primary" href="/all-products">
							{{ _("Continue Shopping") }}
						</a>
					</div>
					<div class="place-order-container col-4">
						{% if cart_settings.enable_checkout %}
							<button class="btn btn-outline-primary btn-place-order" type="button">
								{{ _("Place Order") }}
							</button>
						{% else %}
							<button class="btn btn-outline-primary btn-request-for-quotation" type="button">
								{{ _("Request for Quotation") }}
							</button>
						{% endif %}
					</div>
					{% endif %}
				</div>
			</div>

	{% if doc.items %}
	{% if doc.tc_name %}
		<div class="terms-and-conditions-link">
			{% if cart_settings.enable_checkout %}
				<span style="display:inline">{{ _('By clicking on Place Order, you accept the following')}}</span>
			{% endif %}
			<a href class="link-terms-and-conditions" data-terms-name="{{ doc.tc_name }}">
				{{ _("Terms and Conditions") }}
			</a>
			<script>
				frappe.ready(() => {
					$('.link-terms-and-conditions').click((e) => {
						e.preventDefault();
						const $link = $(e.target);
						const terms_name = $link.attr('data-terms-name');
						show_terms_and_conditions(terms_name);
					})
				});
				function show_terms_and_conditions(terms_name) {
					frappe.call('webshop.shopping_cart.cart.get_terms_and_conditions', { terms_name })
					.then(r => {
						frappe.msgprint({
							title: terms_name,
							message: r.message
						});
					});
				}
			</script>
		</div>
	{% endif %}
	{% endif %}
</div>
{% else %}
<div class="cart-empty frappe-card">
	<div class="cart-empty-state">
		<img src="/assets/webshop/images/cart-empty-state.png" alt="Empty State">
	</div>
	<div class="cart-empty-message mt-4">{{ _('Your cart is Empty') }}</p>
	{% if cart_settings.enable_checkout %}
		<a class="btn btn-outline-primary" href="/orders" style="font-size: 16px;">
			{{ _('See past orders') }}
		</a>
		{% else %}
		<a class="btn btn-outline-primary" href="/quotations" style="font-size: 16px;">
			{{ _('See past quotations') }}
		</a>
	{% endif %}
</div>
{% endif %}

{% endblock %}

{% block base_scripts %}
<!-- js should be loaded in body! -->
{{ include_script("frappe-web.bundle.js") }}
{{ include_script("controls.bundle.js") }}
{{ include_script("dialog.bundle.js") }}
{% endblock %}
