{% from "erpnext/templates/includes/cart/cart_macros.html" import show_address %}

{% if addresses | length == 1%}
	{% set select_address = True %}
{% endif %}

{% set choose_shipping_rule = frappe.db.get_single_value('E Commerce Settings', 'choose_shipping_rule') %}
{% if choose_shipping_rule == True %}
<div class="mb-3 addresses-container" data-section="click-n-collect-address" data-address-type="click_n_collect">
	<div class="btn btn-sm btn-default btn-change-address">
		<h6>{{ _("Choose Pick Location") }}</h6>
	</div>
	<div class="row no-gutters callback-container" data-fieldname="shipping_address_name">
		{% for address in click_n_collect_addresses %}
		{% if doc.shipping_address_name == address.name %}
				{% include "templates/includes/cart/address_card_wh.html" %}
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}

<div class="mb-3 addresses-container" data-section="shipping-address" data-address-type="shipping">
	<div class="btn btn-sm btn-default btn-change-address">
		<h6>{{ _("Choose Shipping Address") }}</h6>
	</div>
	<div class="row no-gutters callback-container" data-fieldname="shipping_address_name">
		{% for address in shipping_addresses %}
		{% if doc.shipping_address_name == address.name %}
			<div class="mr-2 mb-2 p2 w100 address-container" data-address-name="{{address.name}}"{% if doc.shipping_address_name == address.name %} data-active {% endif %}>
				{% include "templates/includes/cart/address_card.html" %}
			</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
<div class="mb-3 custom-control custom-checkbox" data-section="checkbox-same-billing">
	<input type="checkbox" class="custom-control-input" id="input_same_billing" checked>
	<label class="custom-control-label" for="input_same_billing">{{ _('Billing Address is same as Shipping Address') }}</label>
</div>

<div class="mb-3 addresses-container" data-section="billing-address" data-address-type="billing">
	<div class="btn btn-sm btn-default btn-change-address">
		<h6>{{ _("Choose Billing Address") }}</h6>
	</div>
	<div class="row no-gutters callback-container" data-fieldname="customer_address">
		{% for address in billing_addresses %}
		{% if doc.customer_address == address.name %}
				{% include "templates/includes/cart/address_card.html" %}
		{% endif %}
		{% endfor %}
	</div>
</div>
{% block script %}
<script>{% include "templates/includes/cart/cart_addresses.js" %}</script>
{% endblock %}
